* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_day26{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide{
    height: 100%;
    width: 35%;
    position: absolute;
    top: -300vh;
    left: 0;
    transition: 0.5s ease-in-out;;
}

.left-slide  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}    

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.right-slide div{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main_day26 .btn-div .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main_day26 .btn-div .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main_day26 .btn-div button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

