
#main_dayFirst{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.images{
    width: 90px;
    height: 80vh;
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 60px;
    transition: 0.7s;
    cursor: pointer;
    color: white;
    position: relative;
}
.images.active{
    width: 950px;
}
.images h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.images.active h3{
    opacity: 1;
    transition: 0.3s ease-in 0.4s;
}